html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  background: #171717;
  height: 100%;
}

::-webkit-scrollbar {
    display: none;
}
